<div class="wrapper-page">
    <div class="box-title">
        <div class="page-title">
            <h1> Nom de l'exercice</h1>
        </div>
    </div>
    <div class="container-exercice">
        <h3>Les difficultés : </h3>
        <p>Ici l'objectif est très simple, un carré sur un fond marron. C'est l'exercice numéro 1, il permet de mettre en place les bases. Pas de difficultés particulières.</p>
        <div class="technology-project">
            <h3>Exercice realisé sur : </h3>
            <div class="image-exercice">
                <a href="https://cssbattle.dev/"><img src="https://cssbattle.dev/images/banner.png" alt=""></a>
            </div>
            <h3>Lien de l'exercice : <a href="https://cssbattle.dev/play/1">Target #1 - Simply Square</a> </h3>
        </div>
        <div class="preview-and-score">
            <div class="exercice-card">
                <p><i class="fas fa-bullseye"></i> Objectif</p>
                <img src="https://cssbattle.dev/images/banner.png" alt="">
            </div>
            <div class="exercice-card">
                <p><i class="fas fa-signal"></i> Score</p>
                <img src="https://cssbattle.dev/images/banner.png" alt="">
            </div>
        </div>
        <div class="code">
            <div class="image-code">
                <p><i class="fas fa-terminal"></i> Code</p>
                <img src="https://cssbattle.dev/images/banner.png" alt="">
            </div>
        </div>
    </div>

</div>



