
/* SECTON DE BASE  */

.base-banner{
    display: flex;
    width: 95%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}

.orange{
    background-color: #ec7106;
}
.violet{
    background-color: #2d0a58;
}

.cadre {
    position: relative;   /* pour servir de référent */
    width: 400px;
    height: 400px;
    overflow: hidden;     /* masque les dépassements */
    line-height: 2em;     /* pour centrage vertical */
    border: 1px solid black;
    z-index: 22;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 5px;
    filter: blur(1px) grayscale(80%);
  
}

.cadre:hover {
    filter: grayscale(0%);
    transform: scale(1.1);
    filter: blur(0px);
}

.cadre span {
    text-align: center;
    width: 70%;
    border-radius: 5px;
    display: block;
    position: absolute;   /* positionnement hors flux */
    left: -100%;          /* décalage à gauche toute */
    padding: 0px;     /* un peu d'espace latéral */
    color: #eee;          /* couleur du texte à ajuster suivant le besoin */
    background: #2d0a58;     /* couleur du fond à ajuster suivant le besoin */
    transition: all .5s;  /* la transition à appliquer */
}

.cadre:hover span {
    left: 3em;    
    top: 2em;
}

/* BOUTON voir tout */
.button-all{
    background-color: #2d0a58;
    width: 20%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    transition: 0.6s;
}
.button-all:hover{
    background-color: #ec7106;

}
.button-all a{
    color: white;
    text-decoration: none;
    
}
/*=====MOBILE=====*/
@media (min-width: 0px) and (max-width: 599px) {
    .base-banner{
        display: block;
        width: 90%;
    }
    
    .cadre {
        position: relative;   /* pour servir de référent */
        width: 90%;
        height: 350px;
        margin: 10px auto;
        overflow: hidden;     /* masque les dépassements */
        line-height: 0em;     /* pour centrage vertical */
        border: 1px solid black;
        filter: blur(0px);
        z-index:0;
    }
    
    .cadre:hover { 
        transform: none;
    }
    
    .cadre span {
        display: none;
    }
    
    /* BOUTON voir tout */
    .button-all{
        width: 40%;
    }

}
/*=====TABLETTE=====*/
@media (min-width: 600px) and (max-width: 1024px) {
    .base-banner{
        display: block;
        width: 90%;
    }
    
    .cadre {
        position: relative;   /* pour servir de référent */
        width: 90%;
        height: 350px;
        margin: 10px auto;
        overflow: hidden;     /* masque les dépassements */
        line-height: 0em;     /* pour centrage vertical */
        border: 1px solid black;
        filter: blur(0px);
        z-index:0;
    }
    
    .cadre:hover { 
        transform: none;
    }
    
    .cadre span {
        display: none;
    }
    
    /* BOUTON voir tout */
    .button-all{
        width: 40%;
    }

}