/*TECHNO PART */
.banner-techno{
    /* margin-bottom: -36px; */
    text-align: center;

}
.section-title{
    color: white;
    font-size: 1.9vw;
    padding-top: 10px;
    margin-top: 0;
}

.invert{  
    filter: invert(100%); 
}
.logo-techno {
    width: 10%;
    padding: 5px;
}
.mini{
    width: 7%;
}


/*=====TABLETTE=====*/
@media (min-width: 600px) and (max-width: 1024px) {
    .logo-techno{
        width: 14%;
    }
    .mini{
        width: 10%;
    }
    

}

/*=====MOBILE=====*/
@media (min-width: 0px) and (max-width: 599px) {
    .logo-techno{
        width: 15%;
    }
    .mini{
        width: 10%;
    }
}