/*FOOTER*/
.footer{
    background-color: #2d0a58 ;
    color: #ec7106 ;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 60px;
    border-top: 5px solid #ec7106;
    /* margin-bottom: -10; */
}
.footer p a {
    color: #ec7106 ;
    text-decoration: none;
}