@media (min-width: 0px) and (max-width: 599px) {
    /*=NAVBAR=*/
    .nav-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        background-color: white;
        z-index: +3;
    }
    .fa-code:before {
      display: none;
    }
    .logo{
        width: 20%;
        margin:auto 0 auto 0;
    }
    .logo-image{
        width: 100%;
    }
    .book{
        width: 15%;
        margin:auto 0 auto 0;
    }
    .links{
        width:65%;
        text-align: center;
    }
    .links ul  li a{
        font-size: 1em;
    }
    /*=Banner=*/
    .banner{
        padding: 0px;
        width: 100%;
        display: inline;
    }
    .banner-presentation{
        width: 80%;
        text-align: center;
        margin: auto;
    }
    .banner-presentation h1{
        font-size: 13px;
        transform: rotate(0deg);
        padding-left: 0px;
    }
    .presentation{
        font-size: 15px;
        width: 100%;
        padding-left: 0px;
     
    }
    .banner-div{
        width: 100%;
        margin: auto;
    }
    .img-banner{
        border-radius: 0px;
        margin-bottom: 40px;
    }
    .marie{
        position: static;
        text-align: center;
    }

    /*Title*/
    .section-title{
        font-size: 23px;
    }
    /*Techno*/
    .intro-techno{
        width: 80%;
    }
    .banner-techno{
        margin-top: 20px;
        margin-bottom: -23px;
    }

    /*Project*/
    .intro-project{
        width: 80%;
    }
    .banner-project{
        margin-top: 30px;
        margin-bottom: -26px;
    }

    /*Training*/
    .intro-training{
        width: 80%;
    }
    .banner-training{
        margin-top: 30px;
        margin-bottom: -24px ;
    }

    /*Social*/
    .social-wrapper {
        width: 100%;
        display: inline;
    }
    .social-box{
        border-radius: 20px 20px 0 0;
        width: 100%;
        margin:auto;
    }
    .banner-social{
        width: 70%;
        margin: -84px auto -25px auto;
    }
    .social-image-box{
        width: 60%;
    }
    .social-wrapper p{
        font-size: 20px;
    }
    /*Section de base*/
    .section{
        width: 100%;       
    }

    /*BOX*/
    .last-three{
        display: inline;
    }
    .box{
        width: 80%;
        height: auto;
        margin: auto;
        margin-bottom: 5px;
    }
    /*BASIC BUTTON*/
    .button-round{
        font-size: 13px;
    }
    .see-all-button{
        font-size: 15px;
    }
    .social-wrapper .fas {
        display: none;
    }
    .hashtag{
        display: none;
    }
    /*SCROLL BUTTON*/
    #scroll-to-top-button {
        bottom: 30px;
        right: -130px;
    }
    .arrow-top{
        width: 15%;
    }

    /*Footer*/
    .footer{
        display: block;
        height: 100px;
        text-align: center;
    }
    .footer p {
        font-size: 0.8em;
    } 
}

@media (min-width: 600px) and (max-width: 1024px) {
    /*=NAVBAR=*/
    .nav-bar{
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        background-color: white;
        z-index: +3;
    }
    .logo{
        width: 30%;
        margin:auto 0 auto 0;
    }
    .logo-image{
        width: 100%;
    }
    .book{
        width: 15%;
        margin:auto 0 -5px 0;
    }
    .links{
        width:65%;
        text-align: center;
    }
    .links ul  li a{
        font-size: 25px;
    }

    /*BANNER*/
    .banner-presentation h1{
        transform: rotate(0deg);
        padding-left: 0px;
    }
    .presentation{
        font-size: 10px;
    }
    .img-marie{
        width:10%;
        height: 10%;
        clip-path:ellipse(50% 50%);
        margin: auto;
    }
    .marie{
        position: absolute;
        left: 32%;
        top:0%;
    }
    .intro-techno {
        width: 30%;
    }
    .image-box{
        height:80px;
    }

    .box {
        width: 20%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .see-all-button{
        margin-top: -4px;
        border-radius: 10px 10px 10px 10px;
    }
    .social-wrapper .fas {
        display: none;
    }
    .social-image-box {
        width: 50%;
    }
    .section h3{
        font-size: 0.8em;
    }
    /*SCROLL BUTTON*/
    #scroll-to-top-button {
        right: -114px;
        bottom: 60px;
    }
    .arrow-top{
        width: 25%;
    }
}