/*SECTION BASE */
.section{
    width: 80%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

/*====SECTION VIOLETTE====*/
.violet{
    background-color: #2d0a58;
}
.violet-box{
    border: 3px solid #ec7106;
}


/*===SECTION ORANGE===*/
.orange{
    background-color: #ec7106;
}

.orange-box{
    border: 3px solid #2d0a58;
}

/*BOX*/
.last-three{
    display: flex;
    justify-content: space-around;
}

.box{
    width: 27%;
    height: 350px;
    padding: 20px;
    border-radius: 5px;
}
/*PICTURE BOX*/
.picture{
    background-color:white;
    width: 100%;
    transition: 0.4s;
}
.picture:hover {
    transform: scale(1.1);
}
.image-box{
    width: 100%;
    height: 80%;
    overflow: hidden;
}