/* Charte graphique 
violet: #2d0a58;
orange : #ec7106;  
*/

@import "header.css";
@import "footer.css";
@import "button.css";
@import "section.css";

@import "techno-section.css";
@import "project-section.css";
@import "training-section.css";
@import "social-section.css";

@import "responsive.css";


:root {
    font-family: 'Quicksand', sans-serif;
}
body{
    margin: 0;
}
button{
    font-family: 'Quicksand', sans-serif;
}
















