.portofolio-background{
    background-image: url("../../images/background/portofolio.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 48%;
    height: 63vh;
    background-color: rgb(226, 221, 221);
    border-bottom: 5px solid #ea8342;
}

/*=====TABLETTE=====*/
@media (min-width: 600px) and (max-width: 1024px) {
    .portofolio-background{
        background-size: 60%;
        height: 300px;
    }
}

/*=====MOBILE=====*/
@media (min-width: 0px) and (max-width: 599px) {
    .portofolio-background{
        background-size: 70%;
        height: 180px;
    }
}