.container-exercice{
    width: 80%;
    background-color: white;
    border: 5px  outset #2d0a58;
    margin: auto;
    box-shadow: 6px 6px 0px #2d0a58;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}
.exercice-description{
    font-size: 1.3em;
}

.image-exercice img{
    width: 20%;
}

.preview-and-score{
    display: flex;
    border: 2px solid #2d0a58;
}
.exercice-card{
    width: 50%;
    margin: auto;

}
.exercice-card img{
    width: 100%;
}
.exercice-card p, .code p{
    font-size: 2em;
}
.image-code{
    width: 80%;
    margin: auto;
}

.image-code img{
    width: 75%;
}


/*=====TABLETTE=====*/
@media (min-width: 600px) and (max-width: 1024px) {

    .image-code img{
        width: 100%;
    }
}

/*=====MOBILE=====*/
@media (min-width: 0px) and (max-width: 599px) {

    .preview-and-score{
        display: inline;
        border: none;
    }
    .exercice-card{
        width: 100%;
    }
    .exercice-card img{
        width: 100%;
    }
    .exercice-card p,.code p {
        font-size: 1.3em;
    }
    .image-code{
        width: 90% ;
    }
    .image-code img{
        width: 100%;
    }
    .image-exercice img{
        width: 40%;
    }
}


