/*SCROLL BUTTON*/
#scroll-to-top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: -80px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;

}
.arrow-top{
    width: 30%;
}

/*BASIC BUTTON*/
.button-round{
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1vw;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    color: white;

}
.see-all{
    text-align: center;

}
.see-all-button{
    font-size: 1.4vw;
    border-radius: 0px 0px 30px 30px;
    transition: 0.4s;
}

/*ORANGE BUTTON*/
.orange-button{
    background-color: #ec7106;
}

.orange-button:hover{
    border: 3px solid  #ec7106;
    background-color: #2d0a58;
    color:  #ec7106;
}

/*VIOLET BUTTON*/
.violet-button{
    background-color: #2d0a58;
}

.violet-button:hover{
    border: 3px solid  #2d0a58;
    background-color: #ec7106;
    color:  #2d0a58;
}

/* BUTTON SEE ALL VIOLET */
.see-all-button-violet{
    background-color: #2d0a58;
    color: white;
}
.see-all-button-violet:hover{
    background-color: #ec7106;
}

/* BUTTON SEE ALL ORANGE */
.see-all-button-orange{
    background-color: #ec7106;
    color: white;
}
.see-all-button-orange:hover{
    background-color: #2d0a58;
}

/*TECHNOLOGIES BUTTON*/
.technology-button{
    width: 8%;
}

/* .technology-button{
    width: 8%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin: 10px;
    text-transform: uppercase;
}

.html{
    background-color: #88746e;
}
.css{
    background-color: #c4c27a;
}
.sass{
    background-color: #d89a40;
}
.symfony{
    background-color: #c98c3b;
}
.javascript{
    background-color: #a6a670;
}
.phpmyadmin{
    background-color: #86836d;
}
.sql{
    background-color: #74736a;
}
.bootstrap{
    background-color: #626267;
}
.wordpress{
    background-color: #5b3f63;
} */

/*CATEGORY BUTTON*/
.article-categories{
    display: flex;
    justify-content: center;
}
.hashtag-category{
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
}
/*=====MOBILE=====*/
@media (min-width: 0px) and (max-width: 599px) {

/*TECHNOLOGIES BUTTON*/
.technology-button{
    width: 36%;
}
}