<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Marie Charton{% endblock %}</title>
        {% block stylesheets %}

        {# CSS #}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>

        {# Font #}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        
        {# FontAwesome #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />

      
       
        {# Favicon  #}
        <link rel="shortcut icon" type="image/png" href="{{ asset('images/mariefavicon.png') }}">

        {% endblock %}
    </head>
    <body>

        {# Bouton Scroll to top  #}
        <button onclick="topFunction()" id="scroll-to-top-button" title="Haut de la page"><img class="arrow-top" src="{{ asset('images/boutons/arrow.png') }}" alt=""></button>

        {% block body %}{% endblock %}

        {% block javascripts %}
        
        {#JQUERY#} 
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        
        {# Javascript #}
        <script src="{{ asset('js/app.js') }}"></script>


        {% endblock %}
    </body>
</html>
