<div class="wrapper-page">
    <div class="box-title">
        <div class="page-title">
            <h1><i class="fas fa-pencil-alt"></i> Exercices</h1>
        </div>
    </div>

    <div class="portofolio-background">
        <img src="{{ asset('images/background/training.png') }}" alt="dessin-cv">  
    </div>

    <div class="cards">
        <div class="card">
            <div class="crop-image">
                <a href=""><img src="{{ asset('images/training/cssbattle1.png') }}
                "></a>
            </div> 
            <div class="card-name">
                <p>CSS BATTLE</p>
                <p> Target #1 - Simply Square</p>
               
            </div>
        </div>
        <div class="card">
            <div class="crop-image">
                <a href=""><img src="{{ asset('images/training/frontendmentor1.png') }}"></a>
            </div>
            <div class="card-name">
                <p>FRONT-END-MENTOR</p>
                <p>-FAQ Accordeon</p>
            </div>
        </div>
    </div>
</div>
