

<div class="banner">
    <div class="banner-div">
        <img class = "img-banner" src="{{ asset('images/background/presentation.png') }}" alt="banniere">
    </div>
    <div class="banner-presentation">
        <h1> Qui suis je ? </h1>
        <p class ="presentation" >Je m'appelle Marie, j'ai 37 ans, en reconversion professionnelle depuis octobre 2019, j'ai entrepris une formation de développeur web chez O'clock. Après 700 heures de formation intensive, j'ai terminé par une spécialisation Symfony et 1 mois de projet de groupe.
        Sur mon site vous pourrez retrouver mon portofolio, mon CV ainsi que tout les exercices que je pratique au quotidien pour m'entrainer. Dans la partie blog je parlerai de mes aventures dans le domaine du developpement. </p>
    </div>
</div>