<div class="footer">
    <p> © Made with <i class="fas fa-heart"></i> by Marie Charton | 2020 </p>
    <p><a href="{{ path('mentions') }}">Mentions légales</a></p>
    <p><a href="mailto:mariecharton21@gmail.com"><i class="fas fa-envelope-square"> </i> Contactez moi par mail </a></p>
</div>